#blocktitle
{
    justify-content: center;
    margin: 40px 0;
}
a h1
{
    color: black;
    margin-top: 30px;
    font-size: 3em;
}
h2
{
    text-align: center;
}
#logotitle
{
    width: 118px;
    height: 118px;
}
#detail_produit
{
    padding-bottom: 6%;
}
img, h3, p, button
{
    padding-top: 6px;
    padding-bottom: 6px;
}
button
{
    padding-left: 10px;
    padding-right: 10px;
}
ul
{
    justify-content: center;
}
li
{
    list-style-type: none;
    padding : 2%;
}
.alignement
{
    display: block;
    margin: 15px 0;
}
select, input
{
    margin: 15px auto;
}